$mainColor: rgb(35, 189, 37);
$textColor: rgb(255, 255, 255);

.cat-card {
  width: 30%;
  margin: 10px;
}

.cat-card-image {
  height: 150px;
}

.button {
  width: 70%;
  height: 30px;
  margin-top: 15px;
  border: $mainColor;
  border-radius: 5px;
  background-color: $mainColor;
  color: $textColor;
}

.button__success{
  background: fuchsia;
    color: white;
}

.selected {
  border: 2px solid orange;
  font-weight: bolder;
}

.cat-image{
  width: 30px;  
 padding: 20px;
}
