$colorFooter: rgb(237, 231, 231);
$colorFooter-transparent: rgba(237, 231, 231, 0.4);

$textColorLight: rgb(255, 255, 255);
$textColorDark: rgb(96, 94, 94);

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  border: 2px solid $textColorLight;
}

.name,
.selected {
  font-size: 18px;
  font-weight: 500;
  color: $textColorLight;
  border-bottom: 1px solid $textColorLight;
}

.name {
  padding: 12px 0;
}

.selected {
  padding: 20px 0;
}

.price {
  font-size: 50px;
}

.text {
  background-color: $colorFooter-transparent;
  color: $textColorDark;
  padding: 18px;
}

.textprice {
  color: $textColorLight;
  font-size: 12px;
}

.textmounth {
  align-self: flex-end;
  font-size: 12px;
}

.block_price {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  color: $textColorLight;
}

.footer {
  padding: 10px;
  line-height: 1.5;
  background-color: $colorFooter;
  color: $textColorDark;
}
