$firstColor: rgb(0, 204, 255);
$secondColor: rgb(6, 182, 6);
$thirdColor: rgb(245, 119, 73);
$fourthColor: rgb(87, 84, 84);
$textColor: rgb(255, 255, 255);

.rates_card {
  width: 200px;
  margin: 3px;
  border: 1px solid green;

  .rates_card__selected {
    width: 250px;
  }
}

.rates_name {
  font-size: 18px;
  background-color: $firstColor;
}

.price {
  font-size: 40px;
}

.text {
  color: brown;
}

.selected {
  border: 2px solid orange;
  font-weight: bolder;
}
