.App {
  text-align: center;
  display: flex;
}

.button {
  width: 40%;
  height: 30px;
  border-radius: 5px;
  background-color: blue;
  color: white;
}

.position {
  margin: 10px 0;
  text-align: center;
}
